body {
        font-family: "JetBrains Mono", monospace;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #fff;
}

header {
        padding: 16px 24px;
        display: flex;
        align-items: center;
}

header h1 {
        color: black;
        font-size: 1.5rem;
        margin: 0;
        font-family: "JetBrains Mono", monospace;
}

.InputBox {
        display: flex;
        flex-direction: row;
        position: sticky;
        bottom: 0.75rem;
        background: transparent;
        margin-top: 50rem;
        padding: 0;
}

input[type="text"] {
        flex: 1;
        padding: 10px;
        border: none;
        outline: none;
        font-size: 1rem;
        font-family: "JetBrains Mono", monospace;
}


.Icon {
        height: 30px;
        width: 30px;
        padding-right: 5px;
}

.SendButton {
        width:43px; height:43px;
        background-image: url('image/Send.png');
        background-size: cover;
        border: 0px;
        cursor: pointer;
}

.SendButton:hover {
        background-image: url('image/Send-gray.png');
}

.ContextWindow {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-height: calc(100vh - 220px);
}

.user {
        background-color: lightcyan;
        align-self: flex-start;
        margin: 10px;
        border-radius: 1rem;
}

.assistant {
        background-color: rgba(229, 229, 229, 0.329);
        align-self: flex-end;
        margin: 10px;
        border-radius: 1rem;
}